[submodule "bond/lib/forge-std"]
	path = bond/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "bond/lib/openzeppelin-contracts"]
	path = bond/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
