<div class="container"> 
    <div class="row>"
        <h2 class="text-primary">potato.bond</h2>
        <hr class="text-primary border-3 opacity-50">
        <p><b>
        leverages local coincidences of needs and wants for change. </b><br>
        potato.bond aims to be permissionless, potat inspired infrastructure in service of locally aware and globally conscious modes of production, distribution and ownership. 
        </p>
        <button class="btn btn-outline btn-seconday" id="sign-in"><img src="./siwe.png"></button>
        <p id="user-data"></p>
        <button id="sign-out">Sign Out</button>
    </div>
</div>